In [37]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [38]:
## Load the trained model, scaler pickle , onehot, label encoder

model=load_model('model.h5')

with open('Onehot_encoder_geo.pkl','rb') as file:
    label_encoder_geo = pickle.load(file)

with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender = pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [39]:
# Example input data

input_data = {
    'CreditScore' :54000,
    'Geography' : 'France',
    'Gender' : 'Male',
    'Age' : 30,
    'Tenure' : 3,
    'Balance': 60000,
    'NumOfProducts' : 4,
    'HasCrCard':1,
    'IsActiveMember': 1
    
    }

In [40]:
geo_encoded = label_encoder_geo.transform([[input_data['Geography']]]).toarray()

geo_encoded_df = pd.DataFrame(geo_encoded,
                              columns=label_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Users\COMTECH COMPUTER\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [41]:
input_df=pd.DataFrame([input_data])

input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember
0,54000,France,Male,30,3,60000,4,1,1

In [42]:
## Encode categorical variable

input_df['Gender'] = label_encoder_gender.transform(input_df['Gender'])

input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember
0,54000,France,1,30,3,60000,4,1,1

In [43]:
## concatination one hot encoded

input_df = pd.concat([input_df.drop("Geography",axis=1),geo_encoded_df],axis=1)

input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Geography_France,Geography_Germany,Geography_Spain
0,54000,1,30,3,60000,4,1,1,1.0,0.0,0.0

In [44]:
## Scaling the input data

input_scaled =scaler.transform(input_df)

input_scaled

array([[ 5.53634853e+02,  9.13247552e-01, -8.45930770e-01,
        -6.95393486e-01, -2.57811188e-01,  4.25868381e+00,
         6.49202671e-01,  9.74816989e-01,  1.00150113e+00,
        -5.79467227e-01, -5.76388018e-01]])

In [45]:
prediction = model.predict(input_scaled)

prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 108ms/step

array([[8029033.5]], dtype=float32)

In [46]:
prediction_proba = prediction[0][0]

In [47]:
prediction_proba

np.float32(8029033.5)

In [48]:
print('Predicyted Salary is : ', prediction_proba)

Predicyted Salary is :  8029033.5